*{font-family:Gotham Light;}
*h2{color: #666666;}
.center{text-align: center;}
.container{width: 1140px;margin: auto;}
.w200{margin: 100px 0px;}
.w50{margin-bottom:50px;}
.w100{margin:50px 0px;}
.nbv p{border-bottom: solid 1px #ccc;border-top: solid 1px #ccc;padding: 10px 0px;}
.details p{border-bottom: solid 1px #ccc;}
.cc{padding-left: 40px;}
.cc i{font-size: 7px;margin-right: 10px;}
.rr{border-left: solid 1px #ccc;padding-left: 20px;}
.rr a{text-decoration: none;color: #ccc;}
.rr h2{padding-top: 40px;}
.d-flex{display: flex;}
.sb{justify-content: space-between;}
.bb p{}
.bvf{width:35%;}
.vfds{width:50%;}
.vfds{border-top: solid 1px #ccc;margin-top: 14px;}
.vfds p{font-size:16px;padding-left:20px;padding-top: 10px;}
.xc span{color: #ff6633;}
.rrcs a{color: #fff;background: #ff6633;padding: 10px 28px;border-radius: 40px;}
.rrcs a:hover{background:#0000;}
.rrcs i{font-size:20px;padding-right:10px;padding-top: 10px;padding-left: 10px;}
.ky{border-bottom:solid 1px #ccc;}
.gfh img{width: 100%;}
.im h2{padding: 40px 0px;}
.ww{background:#fff;padding: 10px 0px;}
.ww p{padding: 20px 20px;}
.im{border-bottom:solid 1px #ccc;}
.imm h2{padding-bottom: 40px;}
.imm{border-bottom:solid 1px #ccc;}
.dfg i{font-size: 30px;padding-right:6px;}
.dfg p{padding: 18px 0px 0px 0px}
.nji{padding-top: inherit;}
.nji p{padding-left: 140px;}
.ii i{font-size:30px;padding-right:10px;padding-left: 10px;padding-top: 6px;}
.mjyt input{width: 40%;border: none;border-bottom: solid 1px #ccc;padding-top: 20px;}
.lkjj a{text-decoration: none;color:#6666;padding-top: 10px;display:inline-block;}
.lkjj a:hover{border-bottom: solid 1px #6666;}
.gfh p{padding-top: 20px;}
.bvf{border-top: solid 1px #cccc;}

.section{margin: 0px 40px;}

.gtre{padding-top: 0px;}
.voc h2{padding-left: 200px;}
.bbb{border-top: solid 1px #6666;margin-top: 40px;width: 50%;}
.all{}
.firr{margin-left: 40px;}
.firrr h4{padding: 10px 0px;}
.firrrr h4{padding: 10px 0px;}
.loi img{justify-content: center;}

@media(max-width:1000px){
p{font-size: 14px;}
.rrcs a{padding: inherit;padding:8px 14px;margin-bottom: 10px;display: inline-block;width: 100%!important;
    text-align: center;}
img{width: 100%;}
.ky{border-bottom: none;}
.bvf p{align-items: center;}
}

@media(max-width: 1320px)
{

.firrr img{width: 100%;}
.firrrr img{width: 100%;}



}



@media  (max-width: 768px){
p{font-size: 20px;text-align: center;}
.first{text-align: center;}
.ky{text-align: center;}
h2{text-align: center;}
.ii{display: none;}
.dfg i{display: none;}
.voc{display: none;}
.gtre{display: none;}
.pp{text-align: center;}
.bbb{text-align: center;margin-left:60px;}
.firrr img{width: 100%;}
.firrrr h4{text-align: center;}
.firrrr img{width: 100%;}
.firrr h4{text-align: center;}
.firrrr{display: none;}
.gfh img{width: 90%;}
.gfh p{text-align: center;font-size: 30px;}
.cc h4{text-align: center;}
.vfds p{text-align: center;}
.bvf p{text-align: center;}
.heimed11{text-align: center!important;}
.eclipse {max-width: 260px;margin: 30px auto!important;padding: 77px 0;}
.fdff{padding: 0px!important;}
.sssd{width: 100%!important;}
.wwwq{padding-top: 0px!important;padding-bottom: 0px!important;}
.py-5{padding-top: 0px!important;padding-bottom: 0px!important;}
.lala{display: none;}
.lalu{display: block!important;}
}

@media(max-width: 580px){
.nbv p{font-size: 20px;text-align: center;}
.details p{text-align: center;}
.vfds p{margin-left: 500px;border: none;}
.bvf p{text-align: center;margin-left: 520px;}
.vfds{border: none;}
.bvf{border: none;}
.gfh img{width: 234%;}
.gfh p{margin-left: 510px;}
.iuy{display: none;}
.bbbs{font-size: 20px!important;text-align: center!important;}
}
